<header>
    <nav class="navbar bg-dark text-white py-4">
        <div class="container-fluid">
            <a class="navbar-brand px-5 text-white fs-4"><img style="width: 30px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Apple_logo_white.svg/800px-Apple_logo_white.svg.png" alt=""></a>
            <form class="d-flex" role="search">
                <div class="dropdown">
                    <button class="btn btn-outline-light dropdown-toggle mx-5" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{#if user}}
                        {{user.name}}
                        {{else}}
                        Account
                        {{/if}}
                    </button>
                    <ul class="dropdown-menu ">
                        <li>
                            {{#if user}}
                            <a class="dropdown-item" href="profile">Profile</a>
                            <a class="dropdown-item" href="logout">Logout</a>
                            {{else}}
                            <a class="dropdown-item" href="login">Login</a>
                            {{/if}}
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </nav>

</header>

<section>
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    {{#each banner}}
    <div class="carousel-item {{active}}">
      <img src="{{img}}" class="d-block w-100" alt="...">
    </div>
    {{/each}}
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</section>

<section>
    <div class="container-fluid justify-content-center d-flex">
        <div class="container d-flex justify-content-between row py-5">

            {{#each products}}
            <div class="card col-5 m-1 mt-5 p-3 col-lg-3 shadow-lg rounded">
                <div class="products-img  d-flex align-items-center">
                    <img src="{{this.img}}" class="card-img-top " alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <h6 class="card-title text-secondary-emphasis">Rs: {{this.price}}</h6>
                    <a href="#" class="btn btn-dark">Buy Now</a>
                </div>
            </div>
            {{/each}}



        </div>
    </div>
</section>
<footer>
    <div class="container-fluid footer-area bg-dark">
        <div class="container">
            <p class="text-center text-light p-4 fw-lighter">Apple store</p>
        </div>
    </div>
</footer>